

dark chocolate



Figure out library gdm system

-------------------------------------------------------------------------------------------------------------
ubuntu Sam sdifeo16 41428abc computername is MSI (dxdiag it) on VMWare (ubuntu .iso file in  downloads folder)
Vassenx display name Unreal     sdifeo1 41428a...
sdifeo1  41428a... is the icloud stuff

bird nest, dog family, ducks, bear looking at kid, japanese maple or cherry blossom